.inspirations {
  margin-bottom: 3rem;
  .row {
    a {
      margin-top: 3rem !important;
      text-align: center;
      margin: auto;
      display: block;
    }
  }
}

.inspirationsFilter {
  .col_coleurs {
    ul {
      list-style: none;
      display: flex;
      padding-left: 0;
      li {
        margin-top: 1rem;
        margin-left: 1rem;
        width: 20px;
        height: 20px;
        background-color: $rouge;
        border-radius: 50%;
        transition: 0.2s;
      }
      li:hover {
        transform: scale(1.4);
        cursor: pointer;
      }
      li:first-child {
        background-color: $blanc;
        border: 1px solid $gris;
        margin-left: 0;
      }
      li:nth-child(2) {
        background-color: $gris;
      }
      li:nth-child(3) {
        background-color: $rouge;
      }
      li:nth-child(4) {
        background-color: $orange;
      }
      li:nth-child(5) {
        background-color: $jaune;
      }
      li:nth-child(6) {
        background-color: $vert;
      }
      li:nth-child(7) {
        background-color: $bleuFonce;
      }
      li:nth-child(8) {
        background-color: $violet;
      }
    }
    .-groupe {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      .formulaire__input {
        background: $degradeVioletBleu;
        padding: 2px;
        width: 100%;
        height: 2em;
        border-radius: 50%;
        display: inline-block;

        input,
        select,
        textarea {
          border: none;
          outline: none;
          width: 100%;
          height: 100%;
          font-family: $fontFamilyText;
          font-size: $fontSizeNav;
        }
        input[type="password"] {
          font-size: 28pt;
        }
        &.-checkbox {
          width: 2em;
          margin-right: 1em;
          input {
            border-radius: 50%;
            margin: 0;
            opacity: 0;
            cursor: pointer;
            position: absolute;
            width: 2em;
            height: 2em;
            z-index: 2;
            &::before {
              content: "";
              border: none;
            }
            &:checked::before {
              background: $degradeVioletBleu;
            }
            &:checked ~ .-new {
              background: $degradeVioletBleu;
              z-index: 1;
            }
          }
        }
        &.-message {
          height: 100%;
          width: 100%;

          textarea {
            resize: none;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .input__checkbox.-new {
      height: 1.75em;
      width: 1.75em;
      background: white;
      border-radius: 50%;
      position: absolute;
      z-index: 1;
      svg {
        margin-top: 0.15em;
      }
    }
  }
}

.inspirations__block {
  display: flex;
  flex-flow: row wrap;
  .inspirations__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 17.59vw;
    img {
      width: 12vw;
      margin-bottom: 3rem;
    }
    border: solid 2px lightgray;
    margin: 1em;
    padding: 1rem 0;
    background-color: lightgray;
  }
}

section.container {
  padding-top: 5rem;
}
