//contact

.formulaire__grid{
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .grid__item{
        display:flex;
        flex-direction: column;
        margin : 1em;
    }
}


@media screen and (max-width: 992px) {
    .formulaire__grid{
        display: block;
       width: auto;
    }
}