// Desktop
//Pour mettre un bouton avec une border en dégradé :
// <button class="input-nav"><span>Texte</span></button>

#taille_chaussure {
  div {
    button:focus {
      color: violet;
    }
  }
}

.button__form {
  font-size: $fontSizeNav;
  transition: 0.3s;
  @include btn;
  padding: 10px 25px;
  margin: 10px auto;
  position: relative;
  border: 0px solid transparent;
  border-radius: 50px;
  background-clip: padding-box;
  background-color: white;
  font-family: "Outfit", sans-serif;
  display: table;
}

.linkInpiration {
  margin: auto;
  display: block;
  text-align: center;
  .button__form-a {
    color: $noir;
    padding: 10px 25px;
    border: 2px solid $degradeVioletBleu;
  }
}

.button_bleuFonce {
  background-color: $bleuFonce;
  border-radius: 100px;
  padding: 12px 40px;
  border: 0px;
  color: $blanc;
  transition: 0.3s;
  &:hover {
    background-color: $bleuFonceHover;
  }
}

.button__form::after {
  @include btnAfter;
}

.-orange {
  font-size: $fontSizeNav;
  font-weight: bold;
  @include btnOrange;
  span {
    display: flex;
    align-items: center;
    img {
      margin-right: 1em;
    }
  }

  &::after {
    @include btnAfterOrange;
  }
  margin-bottom: 2em;
}

.button__form.-decouvrir {
  background: $violet;
  padding: 1px;
  span {
    background: $violet;
    color: $blanc;
    transition: 0.3s;
    &:hover {
      transition: 0.3s;
      background-color: $violetfonce;
    }
  }
}
.-centrer {
  margin: 3em auto 1em !important;
  display: block;
}

.btn_delete {
  padding: 10px 25px;
  margin: 10px 20px;
  position: relative;
  border: 0px solid transparent;
  border-radius: 50px;
  background-clip: padding-box;
  background-color: $blanc;
  font-family: $fontFamilyText;
  background-color: rgb(255, 60, 0);
  color: white;
  margin-bottom: 1rem;
  transition: 0.3s;
}
.btn_delete:hover {
  background-color: rgba(255, 60, 0, 0.61);
  transition: 0.3s;
}

.button__perso {
  color: $noir;
}
.button__form:hover .button__perso {
  color: $blanc;
}
