*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.min-height {
  min-height: 100vh;
}

@import "foundation/variables";
@import "foundation/mixins";

@import "elements/button";
@import "elements/text";
@import "elements/title";
@import "elements/input";

@import "components/nav";
@import "components/header";
@import "components/personnaliser";
@import "components/inspirations";
@import "components/footer";
@import "components/carrousel.scss";

@import "pages/accueil";
@import "pages/profil";
@import "pages/contact";
@import "pages/inscription";
